@media  (min-width: 1000px) and(max-width: 1400px) {
    .text-banner{
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -350px;
        margin-left: -260px;
    }

    .text-banner h1 {
        font-size: 50px;
    }
    .w3-container img{
        height: 300px;
    }
    p{
        font-size: 20px;
    }
    .gly1{
        margin-top: -10px;
    }
    .text-banner .btn1{
        background: transparent;
        border: solid 1px #15a4fa;
        padding: 10px 10px;

    }
    .simple-and-pure h2{
        font-size: 30px;
    }
    h4{
        font-size: 30px;
    }
    .simple-and-pure p{
        font-size: 15px;
        margin:5px 5px;
    }

    h6{
        font-size: 30px;
    }
    .glyphicon1{
        font-size: 20px;
            }
}



@media (min-width: 600px) and (max-width: 999px) {
    .logo {
        padding: 15px;
    }

    .text-banner {
        position: absolute;
        left: 25%;
        top: 50%;
        margin-top: -200px;
        margin-left: 45px;
    }

    .text-banner h1 {
        color: #fff;
        font-size: 50px;
    }

    .text-banner hr {
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
        border: solid 1px #15a4fa;
    }

    .text-banner p {
        /*margin: 0px 5px;*/
        color: #fff;
        font-size: 14px;
        word-spacing: 2px;
    }

    .text-banner .btn-blue {
        margin-top: 130px;
        margin-left: 138px;
        padding: 2px 7px;
    }

    .gly1 {
        color: #fff;
        position: absolute;
        left: 50%;
        top: -50%;
        margin-left: -10px;
    }

    .icon {
        padding: 30px 0px;
    }
    .simple-and-pure p{
        margin: 0px 50px ;
    }
    .simple-and-pure h2{
        font-size: 40px;
    }
    .showicon h3{
        font-size: 20px;
    }
    .showicon p{
        font-size: 15px;
    }
    .text-showcase h4{
        font-size: 30px;
        padding: 0px 0px;
    }
    .text-showcase h5{
        font-size: 20px;
    }
}

@media (min-width: 400px) and (max-width: 599px) {

    .logo {
        padding: 15px;
    }

    .text-banner {
        position: absolute;
        left: 10%;
        top: 50%;
        margin-top: -200px;
        margin-left: 45px;
    }

    .text-banner h1 {
        color: #fff;
        font-size: 30px;
    }

    .text-banner hr {
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
        border: solid 1px #15a4fa;
    }

    .text-banner p {
        /*margin: 0px 5px;*/
        color: #fff;
        font-size: 14px;
        word-spacing: 2px;
    }

    .text-banner .btn-blue {
        margin-top: 130px;
        margin-left: 138px;
        padding: 2px 7px;
    }

    .gly1 {
        color: #fff;
        position: absolute;
        left: 50%;
        top: -60%;
        margin-left: -10px;
    }

    .icon {
        padding: 30px 0px;
    }
    .simple-and-pure p{
        margin: 0px 50px ;
    }
    .simple-and-pure h2{
        font-size: 40px;
    }
    .showicon h3{
        font-size: 20px;
    }
    .showicon p{
        font-size: 15px;
    }
    .text-showcase h4{
        font-size: 30px;
        padding: 0px 0px;
    }
    .text-showcase h5{
        font-size: 20px;
    }
}




@media (max-width: 399px) {

    .logo {
        padding: 15px; }

    .img-banner img {
        padding: 50px 0px;
        height: 300px; }
    .gly1 {
        color: #fff;
        position: absolute;
        left: 50%;
        top: -70%;
        margin-left: -10px;
        font-size: 5px;

    }
    .text-banner .btn1{
        padding: 5px 3px;
        color: white;
        font-size: 15px;
    }
    .text-banner {
        position: absolute;
        left: 55%;
        top: 75%;
        margin-left: -160px; }
    .text-banner h1 {
        color: #fff;
        font-size: 15px; }
    .text-banner hr {
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
        border: solid 1px #15a4fa; }
    .text-banner p {
        color: #fff;
        font-size: 10px;
        word-spacing: 2px; }
    .text-banner .btn-blue {
        margin-top: 120px;
        margin-left: 120px;
        padding: 2px 7px; }

    .text-banner .gly1 {
        color: #fff;
        position: absolute;
        left: 50%;
        bottom: 0%; }

    .text-simple {
        padding-bottom: 20px; }

    .form .btn-blue {
        float: none; }

    .icon {
        padding: 20px 0px; }

    .icon-simple {
        padding: 20px 0px; }
    .glyphicon1{
        text-align: center;
    }
    .simple-and-pure p{
        margin: 0px 5px ;
        font-size: 15px;
    }
    .showicon h3{
        font-size: 17px;
    }
    .showicon p{
        font-size: 13px;
    }
    .text-showcase h4{
        font-size: 20px;
        padding: 0px 0px;
    }
    .text-showcase h5{
        font-size: 15px;
    }



}