

@media (min-width: 600px) and (max-width: 999px) {
    .anh-banner{
        margin-top: -170px;
    }

    .anh-banner h1{
        font-size: 100px;
    }


    .icon {
        padding: 30px 0px;
    }
    .simple-and-pure p{
        margin: 0px 50px ;
    }
    .simple-and-pure h2{
        font-size: 40px;
    }
    .showicon h3{
        font-size: 20px;
    }
    .showicon p{
        font-size: 15px;
    }
    .text-showcase h4{
        font-size: 30px;
        padding: 0px 0px;
    }
    .text-showcase h5{
        font-size: 20px;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .anh-banner{
        margin-top: -120px;
        margin-left: -150px;
    }

    .anh-banner h1{
        font-size: 50px;
    }
    .anh-banner p{
        font-size: 12px;
    }
    .btn1{
        font-size: 15px;
        padding: 5px 7px;
        margin-left: -50px;
    }
    .gly1{
        margin-top: 100px;
        margin-left: -10px;
    }



    .icon {
        padding: 30px 0px;
    }
    .simple-and-pure p{
        margin: 0px 50px ;
    }
    .simple-and-pure h2{
        font-size: 40px;
    }
    .showicon h3{
        font-size: 20px;
    }
    .showicon p{
        font-size: 15px;
    }
    .text-showcase h4{
        font-size: 30px;
        padding: 0px 0px;
    }
    .text-showcase h5{
        font-size: 20px;
    }
}




@media (max-width: 399px) {

    .anh-banner{
        margin-top: -90px;
        margin-left: -130px;
    }

    .anh-banner h1{
        font-size: 30px;
    }
    .anh-banner p{
        font-size: 10px;
    }
    .btn1{
        font-size: 12px;
        padding: 2px 3px;
        margin-left: -40px;
        margin-top: 50px;
    }
    .gly1{
        margin-top: 75px;
        margin-left: -10px;
    }

    .text-simple {
        padding-bottom: 20px; }

    .form .btn-blue {
        float: none; }

    .icon {
        padding: 20px 0px; }

    .icon-simple {
        padding: 20px 0px; }
    .glyphicon1{
        text-align: center;
    }
    .simple-and-pure p{
        margin: 0px 5px ;
        font-size: 15px;
    }
    .showicon h3{
        font-size: 17px;
    }
    .showicon p{
        font-size: 13px;
    }
    .text-showcase h4{
        font-size: 20px;
        padding: 0px 0px;
    }
    .text-showcase h5{
        font-size: 15px;
    }



}